In [7]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [8]:
from utils import *

In [11]:
root_img = '/home/astamoulakatos/OneDrive_1_1-20-2022/images/'
root_annotation = '/home/astamoulakatos/OneDrive_1_1-20-2022/exported-labels/img-all/Annotations/'
df = generate_df(root_annotation, root_img)

In [12]:
df.head()

,filename,width,height,class,bboxes
0,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[316, 319, 511, 519]]"
1,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[3535, 2440, 3740, 2639]]"
2,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[3530, 329, 3725, 524]]"
3,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,1512,2016,Bolt,"[[1286, 1244, 1383, 1344], [218, 123, 315, 223..."
4,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[292, 2510, 491, 2704]]"

In [13]:
df = df.dropna()

In [14]:
df = df.reset_index(drop=True)

In [15]:
len(df)

184

In [16]:
def bolts_count(x):
    return int(str(x).split('_')[1])

In [17]:
df['total_bolts'] = df.filename.apply(bolts_count)

In [18]:
df.head()

,filename,width,height,class,bboxes,total_bolts
0,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[316, 319, 511, 519]]",1
1,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[3535, 2440, 3740, 2639]]",1
2,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[3530, 329, 3725, 524]]",1
3,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,1512,2016,Bolt,"[[1286, 1244, 1383, 1344], [218, 123, 315, 223...",1
4,/home/astamoulakatos/OneDrive_1_1-20-2022/imag...,4032,3024,Bolt,"[[292, 2510, 491, 2704]]",1

In [19]:
df.to_csv('dataset.csv', index=False)